.cases {
  padding: 0 10px;
  text-align: center;

  span {
    font-weight: bold;
    font-size: 16px;
  }

  .arrow-icon {
    color: #4157b3;
    font-size: 40px;
  }
  
  .disable-color {
    color: #25336f !important;
  }
}