.cases {
  padding: 0 10px;
  text-align: center; }
  .cases span {
    font-weight: bold;
    font-size: 16px; }
  .cases .arrow-icon {
    color: #4157b3;
    font-size: 40px; }
  .cases .disable-color {
    color: #25336f !important; }
