.case {
  background-color: #4541A6;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 20px; }
  .case img {
    width: 80%; }
  .case .price {
    width: 80%;
    background-color: #FFF;
    color: #7398FF;
    border-radius: 30px;
    height: 34px; }
    .case .price span {
      font-size: 12px; }
