.chat-button {
  position: fixed;
  left: 10px;
  bottom: 15px;

  button {
    background-color: #FFF;
    color: #7398FF;
  }
}


.chat-drawer {
  .chat-menu {
    z-index: 10000;
    position: fixed;
    top: 10%;
    width: 100%;

    button {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    .active {
      background-color: #fff;
      color: #828282;

      .icon {
        color: #7298ff;
        position: absolute;
        left: 18px;
      }
    }

    .non-active {
      background-color: #3b529d;
      color: #8fa0d6;

      .icon {
        color: #7298ff;
        position: absolute;
        left: 18px;
      }
    }
  }
}

.chat-view {
  background-color: #091B4E !important;
  height: 80% !important;

  .chats {
    height: 80%;
    padding: 20px 0;
    overflow: scroll;

    .chat-result {
      padding: 10px 0;
      font-size: 12px;

      .playerLevel.sub10 {
          padding: 7px 9px;
          border: 1px solid;
          border-radius: 100%;
          border-color: #7c7f96;
          color: white;
          font-size: 10px;
          margin-bottom: 6px;
          display: inline-block;
          color: #ffffff;
        }

      .message {
        .username {
          font-weight: 700;
          margin-right: 8px;
        }

        img {
          width: 20px;
          margin-left: 10px;
        }

        p {
          margin-top: 5px;
        }
      }

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      img {
        width: 100%;
        border-radius: 100%;
      }

      p {
        color: #ABB5D5;
        margin: 0;
      }
    }
  }

  .drop {
    height: 80%;
    overflow: scroll;
    padding: 20px 0;

    .widget {
      border-radius: 30px;
      background-color: #3C529D;
      padding: 5px 16px;
      margin: 7px 0;

      .text {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 0;
        font-size: 11px;

        .image {
          width: 12px;
          margin-right: 3px;
        }

        .shoe {
          position: absolute;
          top: 8px;
          right: 0px;
        }

        span {
          font-size: 10px;
          font-weight: bolder;
        }
      }

      .amount-p {
        padding: 5px 13px;

        .amount {
          margin: 3px auto;
          padding: 5px 9px;
          width: 35px;
          border-radius: 30px;
          background-color: #7398FF;
          color: #FFF;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }

  .footer {
    padding: 20px 0px;

    .close-button {
      button {
        background-color: #FFF;
        color: #7398FF;
      }
    }

    .message {
      padding: 0 20px;

      .message-input {
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        width: 100%;
      }
    }
  }
}
