.chat-button {
  position: fixed;
  left: 10px;
  bottom: 15px; }
  .chat-button button {
    background-color: #FFF;
    color: #7398FF; }

.chat-drawer .chat-menu {
  z-index: 10000;
  position: fixed;
  top: 10%;
  width: 100%; }
  .chat-drawer .chat-menu button {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .chat-drawer .chat-menu .active {
    background-color: #fff;
    color: #828282; }
    .chat-drawer .chat-menu .active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }
  .chat-drawer .chat-menu .non-active {
    background-color: #3b529d;
    color: #8fa0d6; }
    .chat-drawer .chat-menu .non-active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }

.chat-view {
  background-color: #091B4E !important;
  height: 80% !important; }
  .chat-view .chats {
    height: 80%;
    padding: 20px 0;
    overflow: scroll; }
    .chat-view .chats .chat-result {
      padding: 10px 0;
      font-size: 12px; }
      .chat-view .chats .chat-result .playerLevel.sub10 {
        padding: 7px 9px;
        border: 1px solid;
        border-radius: 100%;
        border-color: #7c7f96;
        color: white;
        font-size: 10px;
        margin-bottom: 6px;
        display: inline-block;
        color: #ffffff; }
      .chat-view .chats .chat-result .message .username {
        font-weight: 700;
        margin-right: 8px; }
      .chat-view .chats .chat-result .message img {
        width: 20px;
        margin-left: 10px; }
      .chat-view .chats .chat-result .message p {
        margin-top: 5px; }
      .chat-view .chats .chat-result .row {
        margin-left: 0;
        margin-right: 0; }
      .chat-view .chats .chat-result img {
        width: 100%;
        border-radius: 100%; }
      .chat-view .chats .chat-result p {
        color: #ABB5D5;
        margin: 0; }
  .chat-view .drop {
    height: 80%;
    overflow: scroll;
    padding: 20px 0; }
    .chat-view .drop .widget {
      border-radius: 30px;
      background-color: #3C529D;
      padding: 5px 16px;
      margin: 7px 0; }
      .chat-view .drop .widget .text {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 0;
        font-size: 11px; }
        .chat-view .drop .widget .text .image {
          width: 12px;
          margin-right: 3px; }
        .chat-view .drop .widget .text .shoe {
          position: absolute;
          top: 8px;
          right: 0px; }
        .chat-view .drop .widget .text span {
          font-size: 10px;
          font-weight: bolder; }
      .chat-view .drop .widget .amount-p {
        padding: 5px 13px; }
        .chat-view .drop .widget .amount-p .amount {
          margin: 3px auto;
          padding: 5px 9px;
          width: 35px;
          border-radius: 30px;
          background-color: #7398FF;
          color: #FFF;
          font-size: 15px;
          font-weight: bold; }
  .chat-view .footer {
    padding: 20px 0px; }
    .chat-view .footer .close-button button {
      background-color: #FFF;
      color: #7398FF; }
    .chat-view .footer .message {
      padding: 0 20px; }
      .chat-view .footer .message .message-input {
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        width: 100%; }
