@import '../variables.scss';


.crypto-deposit-flexy-divide {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 17px;

  .top {
    .spinner-head {
      font-weight: bold;
      padding-top: 71px;
      color : #C5D2FF;
    }

    .spinner {
      position: relative;
      padding: 16px;
      max-height: 306px;
      margin-bottom: 31px;

      .spinner-label {
        position: absolute;
        font-weight: bold;
        top: 172px;
        left: 121px;
      }
    }

  }

  .bottom {
    display: flex;
    flex-grow: 1;
    // padding-bottom: 9px;

    .address-info {
      width: 100%;
      font-weight: bold;
      margin-top: 73px;

      .address-label {
        color: #C5D2FF;
        font-weight: bold;
        margin-bottom: 21px;
      }

      button.theme-button {
        @include theme-button;
        margin-top: 20px;
      }

      .address-box {
        background-color: #1E2F67;
        padding: 5px 20px;

        .address {
          // background-color: #15224C;
          /* border-radius: 35px; */
          color: #C5D2FF;
          /* padding: 5px 15px; */
          font-size: 14px;
          /* visibility: hidden; */
          font-weight: normal;
        }

        button.theme-button {
          margin-top: 20px;
        }
      }
    }
  }
}
