.crypto-deposit-flexy-divide {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 17px; }
  .crypto-deposit-flexy-divide .top .spinner-head {
    font-weight: bold;
    padding-top: 71px;
    color: #C5D2FF; }
  .crypto-deposit-flexy-divide .top .spinner {
    position: relative;
    padding: 16px;
    max-height: 306px;
    margin-bottom: 31px; }
    .crypto-deposit-flexy-divide .top .spinner .spinner-label {
      position: absolute;
      font-weight: bold;
      top: 172px;
      left: 121px; }
  .crypto-deposit-flexy-divide .bottom {
    display: flex;
    flex-grow: 1; }
    .crypto-deposit-flexy-divide .bottom .address-info {
      width: 100%;
      font-weight: bold;
      margin-top: 73px; }
      .crypto-deposit-flexy-divide .bottom .address-info .address-label {
        color: #C5D2FF;
        font-weight: bold;
        margin-bottom: 21px; }
      .crypto-deposit-flexy-divide .bottom .address-info button.theme-button {
        border: none;
        padding: 10px 18px;
        color: white;
        background: #456caa;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 20px; }
        .crypto-deposit-flexy-divide .bottom .address-info button.theme-button:hover {
          background: #1e2f67; }
      .crypto-deposit-flexy-divide .bottom .address-info .address-box {
        background-color: #1E2F67;
        padding: 5px 20px; }
        .crypto-deposit-flexy-divide .bottom .address-info .address-box .address {
          /* border-radius: 35px; */
          color: #C5D2FF;
          /* padding: 5px 15px; */
          font-size: 14px;
          /* visibility: hidden; */
          font-weight: normal; }
        .crypto-deposit-flexy-divide .bottom .address-info .address-box button.theme-button {
          margin-top: 20px; }
