.chat-button.menu2 {
  position: fixed;
  left: 10px;
  bottom: 15px;
  visibility: hidden; }
  .chat-button.menu2 button {
    background-color: #FFF;
    color: #7398FF; }

.menuLayout .chats {
  height: 100%; }

.menuLayout .drawer-view {
  height: 100%; }
  .menuLayout .drawer-view ul li {
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    background: #1b2c5f;
    margin-top: 37px;
    border-radius: 100px; }

.chat-drawer .chat-menu {
  z-index: 10000;
  position: fixed;
  top: 10%;
  width: 100%; }
  .chat-drawer .chat-menu .headAvatar {
    padding: 0px; }
    .chat-drawer .chat-menu .headAvatar img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 108px;
      border-radius: 100%;
      box-shadow: 0px 3px 21px #091b4e; }
  .chat-drawer .chat-menu button {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .chat-drawer .chat-menu .active {
    background-color: #fff;
    color: #828282; }
    .chat-drawer .chat-menu .active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }
  .chat-drawer .chat-menu .non-active {
    background-color: #3b529d;
    color: #8fa0d6; }
    .chat-drawer .chat-menu .non-active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }

.chat-view.menuLayout {
  background-color: #091B4E !important;
  height: 82% !important; }
  .chat-view.menuLayout .drop {
    height: 80%;
    overflow: scroll;
    padding: 20px 0; }
    .chat-view.menuLayout .drop .widget {
      border-radius: 30px;
      background-color: #3C529D;
      padding: 5px 16px;
      margin: 7px 0; }
      .chat-view.menuLayout .drop .widget .text {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 0;
        font-size: 11px; }
        .chat-view.menuLayout .drop .widget .text .image {
          width: 12px;
          margin-right: 3px; }
        .chat-view.menuLayout .drop .widget .text .shoe {
          position: absolute;
          top: 8px;
          right: 0px; }
        .chat-view.menuLayout .drop .widget .text span {
          font-size: 10px;
          font-weight: bolder; }
      .chat-view.menuLayout .drop .widget .amount-p {
        padding: 5px 13px; }
        .chat-view.menuLayout .drop .widget .amount-p .amount {
          margin: 3px auto;
          padding: 5px 9px;
          width: 35px;
          border-radius: 30px;
          background-color: #7398FF;
          color: #FFF;
          font-size: 15px;
          font-weight: bold; }
  .chat-view.menuLayout .footer {
    padding: 20px 0px; }
    .chat-view.menuLayout .footer .close-button button {
      background-color: #FFF;
      color: #7398FF; }
    .chat-view.menuLayout .footer .message {
      padding: 0 20px; }
      .chat-view.menuLayout .footer .message .message-input {
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        width: 100%; }
