@import '../colors.scss';

nav {
  background-color: #1C2C62;

  .navbar {
    padding: 30px 30px;

  }

  .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .navbar-brand {
    margin-right: 0;

    .logo {
      width: 45px;
    }
  }

  #steamLogin {
    font-size: 14px;
    display: inline-block;
    float: right;
    border-radius: 13px;
    background: linear-gradient(to bottom,#7eb23a,#4c6d1f);
    padding: 5px 15px;
    text-align: left;
    font-family: roboto;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #7ba635;
    /* margin-left: 8px; */
    margin-top: -5px;
  }

  .saldo-field {
    background-color: #253874;
    padding: 8px 8px;
    border-radius: 30px;

    .saldo {
      padding: 7px 3px;
      font-size: 14px;
    }

    .plus {
      background-color: #FFF;
      width: 35px;
      height: 35px;
      color: #253874;
      padding: 5px;
      border-radius: 40px;
    }
  }


  .notification-bell {

    .badge-color {
      background-color: #7398FF;
    }
  }

  .menu-container {
    padding-left: 0;
    padding-right: 0;

    .menu-button {
      color: #fff;
    }
  }

}

.drawer-top-notification {
  top: 115px !important;
}

.drawer-top {
  top: 70px !important;
}

.drawer-view {
  width: 100%;
  background-color:rgba(9, 27, 78, 0.95) !important;

  .head {
    padding: 30px;
    background : none;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 85px;
    }
  }

  ul {
    text-align: center;
    padding: 0;

    li {
      color: #C5D2FF;
      width: 100%;
      display: block;
      padding: 8px 10px;

      a {
        color: #C5D2FF;
        font-size: 17px;
        font-weight: bold;
      }
    }
  }

  .points {
    background-color: #1E2F67;
    padding: 5px 20px;

    .amount {
      background-color: #15224C;
      border-radius: 35px;
      color: #C5D2FF;
      padding: 5px 15px;
      font-size: 14px;
    }
  }

  .foot {
    .level {
      padding: 5px;

      img {
        width: 10%;
        margin-right: 5px;
      }
    }

    .progress-bar {
      border-radius: 30px;
      background-color: #15224C;
      width:  80%;
      height: 10px;
      margin: 10px auto;

      .filled {
        background-color: #fff;
        border-radius: 30px;
        width: 60%;
        height: 10px;
      }
    }

    .progress-text {
      font-size: 9px;
      color: #C5D2FF;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    background-color: #091B4E;
    min-height: 100vh;
  }

}
