.notification {
  background-color: #091B4E;
  width: 100%;
  height: 50px;
  padding: 13px 0; }
  .notification span {
    color: #7398FF; }

@media only screen and (max-width: 767px) {
  .notification {
    font-size: 14px; } }
