.search {
  padding: 20px 22px; }
  .search input {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    width: 100%; }
  .search .filter .filter-button {
    background-color: #7398FF;
    color: #FFF; }
