.widgets {
  padding: 20px 22px;

  input {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    width: 100%;
  }

  .widget {
    border-radius: 30px;
    background-color: #3C529D;
    padding: 8px 16px;

    .text {
      padding-left: 18px;
      padding-top: 6px;
      padding-right: 0;
      font-size: 11px;

      .image {
        width: 12px;
        margin-right: 3px;
      }

      .shoe {
        position: absolute;
        top: 5px;
        right: 0px;
      }

      span {
        font-size: 10px;
        font-weight: bolder;
      }
    }

    .profile-picture {
      img {
        border-radius: 30px;
        width: 36px;
      }
    }
  }

  .filter {
    .filter-button {
      background-color: #7398FF;
      color: #FFF;
    }
  }
}
