body {
  background-color: #181B5D;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

button:focus, input:focus {
  outline: 0; }

nav {
  background-color: #1C2C62; }
  nav .navbar {
    padding: 30px 30px; }
  nav .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  nav .navbar-brand {
    margin-right: 0; }
    nav .navbar-brand .logo {
      width: 45px; }
  nav #steamLogin {
    font-size: 14px;
    display: inline-block;
    float: right;
    border-radius: 13px;
    background: linear-gradient(to bottom, #7eb23a, #4c6d1f);
    padding: 5px 15px;
    text-align: left;
    font-family: roboto;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #7ba635;
    /* margin-left: 8px; */
    margin-top: -5px; }
  nav .saldo-field {
    background-color: #253874;
    padding: 8px 8px;
    border-radius: 30px; }
    nav .saldo-field .saldo {
      padding: 7px 3px;
      font-size: 14px; }
    nav .saldo-field .plus {
      background-color: #FFF;
      width: 35px;
      height: 35px;
      color: #253874;
      padding: 5px;
      border-radius: 40px; }
  nav .notification-bell .badge-color {
    background-color: #7398FF; }
  nav .menu-container {
    padding-left: 0;
    padding-right: 0; }
    nav .menu-container .menu-button {
      color: #fff; }

.drawer-top-notification {
  top: 115px !important; }

.drawer-top {
  top: 70px !important; }

.drawer-view {
  width: 100%;
  background-color: rgba(9, 27, 78, 0.95) !important; }
  .drawer-view .head {
    padding: 30px;
    background: none; }
    .drawer-view .head img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 85px; }
  .drawer-view ul {
    text-align: center;
    padding: 0; }
    .drawer-view ul li {
      color: #C5D2FF;
      width: 100%;
      display: block;
      padding: 8px 10px; }
      .drawer-view ul li a {
        color: #C5D2FF;
        font-size: 17px;
        font-weight: bold; }
  .drawer-view .points {
    background-color: #1E2F67;
    padding: 5px 20px; }
    .drawer-view .points .amount {
      background-color: #15224C;
      border-radius: 35px;
      color: #C5D2FF;
      padding: 5px 15px;
      font-size: 14px; }
  .drawer-view .foot .level {
    padding: 5px; }
    .drawer-view .foot .level img {
      width: 10%;
      margin-right: 5px; }
  .drawer-view .foot .progress-bar {
    border-radius: 30px;
    background-color: #15224C;
    width: 80%;
    height: 10px;
    margin: 10px auto; }
    .drawer-view .foot .progress-bar .filled {
      background-color: #fff;
      border-radius: 30px;
      width: 60%;
      height: 10px; }
  .drawer-view .foot .progress-text {
    font-size: 9px;
    color: #C5D2FF; }

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    background-color: #091B4E;
    min-height: 100vh; } }

.notification {
  background-color: #091B4E;
  width: 100%;
  height: 50px;
  padding: 13px 0; }
  .notification span {
    color: #7398FF; }

@media only screen and (max-width: 767px) {
  .notification {
    font-size: 14px; } }

.search {
  padding: 20px 22px; }
  .search input {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    width: 100%; }
  .search .filter .filter-button {
    background-color: #7398FF;
    color: #FFF; }

.widgets {
  padding: 20px 22px; }
  .widgets input {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    width: 100%; }
  .widgets .widget {
    border-radius: 30px;
    background-color: #3C529D;
    padding: 8px 16px; }
    .widgets .widget .text {
      padding-left: 18px;
      padding-top: 6px;
      padding-right: 0;
      font-size: 11px; }
      .widgets .widget .text .image {
        width: 12px;
        margin-right: 3px; }
      .widgets .widget .text .shoe {
        position: absolute;
        top: 5px;
        right: 0px; }
      .widgets .widget .text span {
        font-size: 10px;
        font-weight: bolder; }
    .widgets .widget .profile-picture img {
      border-radius: 30px;
      width: 36px; }
  .widgets .filter .filter-button {
    background-color: #7398FF;
    color: #FFF; }

.cases {
  padding: 0 10px;
  text-align: center; }
  .cases span {
    font-weight: bold;
    font-size: 16px; }
  .cases .arrow-icon {
    color: #4157b3;
    font-size: 40px; }
  .cases .disable-color {
    color: #25336f !important; }

.case {
  background-color: #4541A6;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 20px; }
  .case img {
    width: 80%; }
  .case .price {
    width: 80%;
    background-color: #FFF;
    color: #7398FF;
    border-radius: 30px;
    height: 34px; }
    .case .price span {
      font-size: 12px; }

.chat-button {
  position: fixed;
  left: 10px;
  bottom: 15px; }
  .chat-button button {
    background-color: #FFF;
    color: #7398FF; }

.chat-drawer .chat-menu {
  z-index: 10000;
  position: fixed;
  top: 10%;
  width: 100%; }
  .chat-drawer .chat-menu button {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .chat-drawer .chat-menu .active {
    background-color: #fff;
    color: #828282; }
    .chat-drawer .chat-menu .active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }
  .chat-drawer .chat-menu .non-active {
    background-color: #3b529d;
    color: #8fa0d6; }
    .chat-drawer .chat-menu .non-active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }

.chat-view {
  background-color: #091B4E !important;
  height: 80% !important; }
  .chat-view .chats {
    height: 80%;
    padding: 20px 0;
    overflow: scroll; }
    .chat-view .chats .chat-result {
      padding: 10px 0;
      font-size: 12px; }
      .chat-view .chats .chat-result .playerLevel.sub10 {
        padding: 7px 9px;
        border: 1px solid;
        border-radius: 100%;
        border-color: #7c7f96;
        color: white;
        font-size: 10px;
        margin-bottom: 6px;
        display: inline-block;
        color: #ffffff; }
      .chat-view .chats .chat-result .message .username {
        font-weight: 700;
        margin-right: 8px; }
      .chat-view .chats .chat-result .message img {
        width: 20px;
        margin-left: 10px; }
      .chat-view .chats .chat-result .message p {
        margin-top: 5px; }
      .chat-view .chats .chat-result .row {
        margin-left: 0;
        margin-right: 0; }
      .chat-view .chats .chat-result img {
        width: 100%;
        border-radius: 100%; }
      .chat-view .chats .chat-result p {
        color: #ABB5D5;
        margin: 0; }
  .chat-view .drop {
    height: 80%;
    overflow: scroll;
    padding: 20px 0; }
    .chat-view .drop .widget {
      border-radius: 30px;
      background-color: #3C529D;
      padding: 5px 16px;
      margin: 7px 0; }
      .chat-view .drop .widget .text {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 0;
        font-size: 11px; }
        .chat-view .drop .widget .text .image {
          width: 12px;
          margin-right: 3px; }
        .chat-view .drop .widget .text .shoe {
          position: absolute;
          top: 8px;
          right: 0px; }
        .chat-view .drop .widget .text span {
          font-size: 10px;
          font-weight: bolder; }
      .chat-view .drop .widget .amount-p {
        padding: 5px 13px; }
        .chat-view .drop .widget .amount-p .amount {
          margin: 3px auto;
          padding: 5px 9px;
          width: 35px;
          border-radius: 30px;
          background-color: #7398FF;
          color: #FFF;
          font-size: 15px;
          font-weight: bold; }
  .chat-view .footer {
    padding: 20px 0px; }
    .chat-view .footer .close-button button {
      background-color: #FFF;
      color: #7398FF; }
    .chat-view .footer .message {
      padding: 0 20px; }
      .chat-view .footer .message .message-input {
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        width: 100%; }

.chat-button.menu2 {
  position: fixed;
  left: 10px;
  bottom: 15px;
  visibility: hidden; }
  .chat-button.menu2 button {
    background-color: #FFF;
    color: #7398FF; }

.menuLayout .chats {
  height: 100%; }

.menuLayout .drawer-view {
  height: 100%; }
  .menuLayout .drawer-view ul li {
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    background: #1b2c5f;
    margin-top: 37px;
    border-radius: 100px; }

.chat-drawer .chat-menu {
  z-index: 10000;
  position: fixed;
  top: 10%;
  width: 100%; }
  .chat-drawer .chat-menu .headAvatar {
    padding: 0px; }
    .chat-drawer .chat-menu .headAvatar img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 108px;
      border-radius: 100%;
      box-shadow: 0px 3px 21px #091b4e; }
  .chat-drawer .chat-menu button {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .chat-drawer .chat-menu .active {
    background-color: #fff;
    color: #828282; }
    .chat-drawer .chat-menu .active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }
  .chat-drawer .chat-menu .non-active {
    background-color: #3b529d;
    color: #8fa0d6; }
    .chat-drawer .chat-menu .non-active .icon {
      color: #7298ff;
      position: absolute;
      left: 18px; }

.chat-view.menuLayout {
  background-color: #091B4E !important;
  height: 82% !important; }
  .chat-view.menuLayout .drop {
    height: 80%;
    overflow: scroll;
    padding: 20px 0; }
    .chat-view.menuLayout .drop .widget {
      border-radius: 30px;
      background-color: #3C529D;
      padding: 5px 16px;
      margin: 7px 0; }
      .chat-view.menuLayout .drop .widget .text {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 0;
        font-size: 11px; }
        .chat-view.menuLayout .drop .widget .text .image {
          width: 12px;
          margin-right: 3px; }
        .chat-view.menuLayout .drop .widget .text .shoe {
          position: absolute;
          top: 8px;
          right: 0px; }
        .chat-view.menuLayout .drop .widget .text span {
          font-size: 10px;
          font-weight: bolder; }
      .chat-view.menuLayout .drop .widget .amount-p {
        padding: 5px 13px; }
        .chat-view.menuLayout .drop .widget .amount-p .amount {
          margin: 3px auto;
          padding: 5px 9px;
          width: 35px;
          border-radius: 30px;
          background-color: #7398FF;
          color: #FFF;
          font-size: 15px;
          font-weight: bold; }
  .chat-view.menuLayout .footer {
    padding: 20px 0px; }
    .chat-view.menuLayout .footer .close-button button {
      background-color: #FFF;
      color: #7398FF; }
    .chat-view.menuLayout .footer .message {
      padding: 0 20px; }
      .chat-view.menuLayout .footer .message .message-input {
        padding: 15px 25px;
        border-radius: 30px;
        border: none;
        width: 100%; }

.crypto-deposit-flexy-divide {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 17px; }
  .crypto-deposit-flexy-divide .top .spinner-head {
    font-weight: bold;
    padding-top: 71px;
    color: #C5D2FF; }
  .crypto-deposit-flexy-divide .top .spinner {
    position: relative;
    padding: 16px;
    max-height: 306px;
    margin-bottom: 31px; }
    .crypto-deposit-flexy-divide .top .spinner .spinner-label {
      position: absolute;
      font-weight: bold;
      top: 172px;
      left: 121px; }
  .crypto-deposit-flexy-divide .bottom {
    display: flex;
    flex-grow: 1; }
    .crypto-deposit-flexy-divide .bottom .address-info {
      width: 100%;
      font-weight: bold;
      margin-top: 73px; }
      .crypto-deposit-flexy-divide .bottom .address-info .address-label {
        color: #C5D2FF;
        font-weight: bold;
        margin-bottom: 21px; }
      .crypto-deposit-flexy-divide .bottom .address-info button.theme-button {
        border: none;
        padding: 10px 18px;
        color: white;
        background: #456caa;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 20px; }
        .crypto-deposit-flexy-divide .bottom .address-info button.theme-button:hover {
          background: #1e2f67; }
      .crypto-deposit-flexy-divide .bottom .address-info .address-box {
        background-color: #1E2F67;
        padding: 5px 20px; }
        .crypto-deposit-flexy-divide .bottom .address-info .address-box .address {
          /* border-radius: 35px; */
          color: #C5D2FF;
          /* padding: 5px 15px; */
          font-size: 14px;
          /* visibility: hidden; */
          font-weight: normal; }
        .crypto-deposit-flexy-divide .bottom .address-info .address-box button.theme-button {
          margin-top: 20px; }

.loader {
  width: 64px;
  height: 64px;
  margin: 20px auto; }

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
