@mixin theme-button() {
  border: none;
  padding: 10px 18px;
  color: white;
  background: #456caa;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background: #1e2f67;
  }
}
